certifi==2020.12.5
chardet==4.0.0
click==8.0.1
Flask==2.0.1
funcy==1.16
future==0.18.2
gensim==3.8.3
ibm-cloud-sdk-core==3.10.0
ibm-watson==5.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
nltk==3.6.2
numexpr==2.7.3
numpy==1.20.3
pandas==1.2.4
PyJWT==2.1.0
pyLDAvis==3.3.1
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sklearn==0.0
smart-open==5.1.0
threadpoolctl==2.1.0
tqdm==4.61.0
urllib3==1.26.5
watson-developer-cloud==2.10.1
websocket-client==0.48.0
Werkzeug==2.0.1
