<html>
<head>
<title>Clari</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/answer.css') }}">
</head>

    <body >
        <section id="carousel_d81f" data-image-width="1980" data-image-height="1385">
          <div class="container">
            <div>
              <div>
                <div>
                  <div>
                    <h1>Clari</h1>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Clari Logo">
                    <h2>Helping Everyone Learn, No Matter Where They're From</h2>
                    <h3>Your Summary:</h3>
                    <div class='sum'>{{ summary }}</div>
                  </div>
                </div>
                <div>
                  <div>
                    <!-- <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../../images/clari-logo.png" alt="" data-image-width="200" data-image-height="200"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</body>
</html> 