<html>
<head>
<title>Clari</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

    <body >
        <section id="carousel_d81f" data-image-width="1980" data-image-height="1385">
          <div class="container">
            <div>
              <div>
                <div>
                  <div>
                    <h1>Clari</h1>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Clari Logo">
                    <h2>Helping Everyone Learn, No Matter Where They're From</h2>
                    
                    <form action="{{ url_for('nike')}}" method="post">
                      <select id="selected-input" name="selected-input">
                        <option value="" disabled selected>Choose Input Type</option>
                        <option value="cp">Copy & Paste</option>
                        <option value="select">Select Lecture</option>
                      </select>

                      <select id="selected-lecture" name="selected-lecture">
                        <option value="" disabled selected>Choose Lecture For Lecture Input</option>
                        <option value="89_April_2nd">CS89/April 2nd</option>
                        <option value="89_April_5th">CS89/April 5ht</option>
                        <option value="89_April_7th">CS89/April 7th</option>
                        <option value="89_April_9th">CS89/April 9th</option>
                        <option value="89_April_12th">CS89/April 12th</option>
                        <option value="89_April_14th">CS89/April 14th</option>
                        <option value="89_April_16th">CS89/April 16th</option>
                        <option value="89_April_19th">CS89/April 19th</option>
                        <option value="89_April_21st">CS89/April 21st</option>
                        <option value="89_April_23rd">CS89/April 23rd</option>
                        <option value="89_April_26th">CS89/April 26th</option>
                        <option value="89_April_28th">CS89/April 28th</option>
                        <option value="89_May_3rd">CS89/May 3rd</option>
                        <option value="89_May_5th">CS89/May 5th</option>
                        <option value="89_May_8th">CS89/May 8th</option>
                        <option value="89_May_10th">CS89/May 10th</option>
                        <option value="89_May_14th">CS89/May 14th</option>
                        <option value="89_May_17th">CS89/May 17th</option>
                        <option value="89_May_19th">CS89/May 19th</option>
                        <option value="89_May_21st">CS89/May 21st</option>
                        <option value="89_May_24th">CS89/May 24th</option>
                        
                        <!-- Arish please put the other lectures here with values that are the same as the file name-->
                      </select>

                      
                      <!--span class="textarea" role="textbox" id="lecture-text" name="lecture-text" contenteditable></span-->
                      <textarea type="text" id="lecture-text" name="lecture-text" placeholder="Paste English Lecture Text Here for Paste Input"></textarea>
                        <!-- <label for="lastname">Last Name:</label> -->
                       
                        <select id="selected-language" name="selected-language">
                            <option value="" disabled selected>Select Language</option>
                            <option value = "ar">Arabic</option>
                            <option value = "eu">Basque</option>
                            <option value = "bn">Bengali</option>
                            <option value = "bs">Bosnian</option>
                            <option value = "bg">Bulgarian</option>
                            <option value = "ca">Catalan</option>
                            <option value = "zh">Chinese (Simplified)</option>
                            <option value = "zh-TW">Chinese (Traditional)</option>
                            <option value = "hr">Croatian</option>
                            <option value = "cs">Czech</option>
                            <option value = "da">Danish</option>
                            <option value = "nl">Dutch</option>
                            <option value = "en">English</option>
                            <option value = "et">Estonian</option>
                            <option value = "fi">Finnish</option>
                            <option value = "fr">French</option>
                            <option value = "de">German</option>
                            <option value = "el">Greek</option>
                            <option value = "gu">Gujarati</option>
                            <option value = "he">Hebrew</option>
                            <option value = "hi">Hindi</option>
                            <option value = "hu">Hungarian</option>
                            <option value = "ga">Irish</option>
                            <option value = "id">Indonesian</option>
                            <option value = "it">Italian</option>
                            <option value = "ja">Japanese</option>
                            <option value = "ko">Korean</option>
                            <option value = "lv">Latvian</option>
                            <option value = "lt">Lithuanian</option>
                            <option value = "ms">Malay</option>
                            <option value = "ml">Malayalam</option>
                            <option value = "mt">Maltese</option>
                            <option value = "cnr">Montenegrin</option>
                            <option value = "ne">Nepali</option>
                            <option value = "nb">Norwegian Bokmål</option>
                            <option value = "pl">Polish</option>
                            <option value = "pt">Portuguese</option>
                            <option value = "ro">Romanian</option>
                            <option value = "ru">Russian</option>
                            <option value = "sr">Serbian</option>
                            <option value = "si">Sinhala</option>
                            <option value = "sk">Slovak</option>
                            <option value = "sl">Slovenian</option>
                            <option value = "es">Spanish</option>
                            <option value = "sv">Swedish</option>
                            <option value = "ta">Tamil</option>
                            <option value = "te">Telugu</option>
                            <option value = "th">Thai</option>
                            <option value = "tr">Turkish</option>
                            <option value = "uk">Ukrainian</option>
                            <option value = "ur">Urdu</option>
                            <option value = "vi">Vietnamese</option>
                            <option value = "cy">Welsh</option>
                        </select>
                        <!-- <input type="text" id="lastname" name="lname" placeholder="lastname"> -->
                        <button type="submit">Translate</button>
                    </form>

                  </div>
                </div>
                <div>
                  <div>
                    <!-- <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../../images/clari-logo.png" alt="" data-image-width="200" data-image-height="200"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</body>
</html> 